#environments
.env

#ariflow
airflow/airflow.cfg
airflow/airflow.db
airflow/logs/
airflow/airflow-webserver.pid
airflow/webserver_config.py
airflow/airflow-*.err
airflow/airflow-*.out
airflow/airflow-*.log
airflow/airflow-*.pid
airflow/.DS_Store